---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import { Image } from "@astrojs/image/components";
import { authors } from "@data/authors";
import Pagetitle from "@components/pagetitle.astro";
import Link from "@components/ui/link.astro";
---

<Layout title="About">
  <Container>
    <Pagetitle>
      <Fragment slot="title">Acerca de</Fragment>
      <Fragment slot="desc">Hola dev 游땙 <br> Esta pagina est치 en construcci칩n, pronto la habilitaremos.</Fragment>
    </Pagetitle>

    <!-- <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-1">
      {
        authors.slice(0, 3).map((item) => (
          <div class="group">
            <div class="w-full aspect-square">
              <Image
                src={item.image}
                format="avif"
                width={580}
                height={580}
                alt="Imagen de Carlos Fajardo"
                class="w-full h-full object-cover rounded transition  group-hover:-translate-y-1 group-hover:shadow-xl"
              />
            </div>

            <div class="mt-4 text-center">
              <h3 class="text-sm text-gray-500"> {item.name}</h3>
            </div>
          </div>
        ))
      }
    </div> -->

    <!-- <div class="mx-auto max-w-xl text-justify mt-14">
      <p class="text-lg leading-relaxed text-gray-600">
       Somos un peque침o equipo de personas apasionadas por la programaci칩n y la ense침anza. Nos encanta compartir nuestros conocimientos y habilidades con otros y ayudarles a aprender a programar. <br><br>

Somos expertos autodidactas en la construcci칩n de aplicaciones web, hemos trabajado en varios proyectos y tenemos experiencia en diferentes lenguajes de programaci칩n y tecnolog칤as web.<br><br>

Nuestro objetivo principal es ayudar a las personas que desean convertirse en programadores y no saben por d칩nde empezar. Queremos hacer de la programaci칩n una disciplina accesible y atractiva para todos.<br><br>

Por medio de nuestro blog, compartimos nuestros conocimientos y experiencias de manera clara y sencilla, explicando los conceptos fundamentales de la programaci칩n y brindando recursos 칰tiles para que los estudiantes puedan avanzar en su aprendizaje.<br><br>

Creemos en la importancia de aprender haciendo, por lo que proporcionamos ejemplos y desaf칤os pr치cticos para que los lectores puedan aplicar lo que han aprendido en la vida real. Adem치s, estamos siempre disponibles para responder preguntas y brindar apoyo a trav칠s de nuestras redes sociales y correo electr칩nico.<br><br>

Nos encanta ense침ar programaci칩n y ver c칩mo los estudiantes se sienten cada vez m치s seguros y competentes en su aprendizaje. Esperamos poder ayudar a muchos m치s estudiantes a trav칠s de nuestro blog y seguir contribuyendo al mundo de la programaci칩n.<br><br>

칔nete a nosotros en este viaje hacia una carrera exitosa y satisfactoria en la programaci칩n. 춰Estamos emocionados de ver tu crecimiento y logros!
      </p>
      <div class="mt-8 text-center">
        <Link href="/contact" style="primary">Cont치ctanos</Link>
      </div>
    </div> -->
  </Container>
</Layout>
