---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import { Image } from "@astrojs/image/components";
import Pagetitle from "@components/pagetitle.astro";
import Link from "@components/ui/link.astro";
---

<Layout title="About">
  <Container>
    <Pagetitle>
      <Fragment slot="title">Acerca de</Fragment>
      <Fragment slot="desc">Hola dev 😎 <br>Permíteme presentarme.</Fragment>
      
    </Pagetitle>

    <div class="mx-auto max-w-4xl mt-1 py-5">
      <Image
        src="src/assets/authors/carlos.jpg"
        format="avif"
        width={300}
        height={300}
        alt="Imagen de Carlos Fajardo"
        class="mx-auto block rounded-md"
      />
    </div>

    <div class="mx-auto max-w-xl text-justify mt-14">
      <p class="text-lg leading-relaxed tex-white-600">
        Soy <strong>Carlos Fajardo</strong>, <strong>Un Simple Programador &#9996;</strong>
        Cuando empecé a aprender sobre desarrollo web, también lo hice como autodidacta. A través de tutoriales en línea, documentación, y mucha práctica, comencé a entender los conceptos y habilidades necesarias para crear sitios web funcionales y atractivos &#128293;. <br><br>

        El objetivo de este blog es proporcionar recursos útiles y consejos prácticos para aquellos que desean aprender sobre desarrollo web por su cuenta. Empezar a desarrollar la lógica de porgramación a través de una variedad de publicaciones, desde tutoriales y guías hasta consejos y trucos, espero ayudar a los lectores a obtener las habilidades que se necesitan para crear proyectos web emocionantes.<br><br>
        
        La iniciativa detrás de este blog es inspirar a las personas a aprender a desarrollar software por su cuenta y a convertirse en autodidactas exitosos. A menudo, las habilidades del desarrollo web pueden ser costosas de aprender en un entorno académico tradicional. Sin embargo, con las herramientas adecuadas y el apoyo adecuado, cualquiera puede aprender y desarrollar habilidades en este campo.<br><br>
        
        Por último, mi motivación para escribir este blog es ayudar a las personas a alcanzar sus metas en el mundo de la porgramación. A través de este blog, espero brindar a los futuros programadores las herramientas y el conocimiento que necesitan para crear sitios y aplicaciones web útiles y atractivas. ¡La tecnología cambia constantemente, y aprender a desarrollar software es una habilidad valiosa que puede ayudar a las personas a alcanzar su potencial máximo! &#128640;<br><br>

        Únete a mi en este viaje hacia una carrera exitosa y satisfactoria en la programación. ¡Estoy emocionado de ver tu crecimiento y logros!
      </p><br>
      <blockquote>
        "La programación te enseña a pensar"
        <cite>Steve Jobs, co-fundador de Apple Inc.</cite>
      </blockquote>
      <div class="mt-8 text-center">
        <Link href="/contact" style="primary">Contáctanos</Link>
      </div>
    </div>
  
  </Container>
</Layout>
